<div class='card'>
    <div type='search'></div>
    <input type='text' class="search-bar"></input>

    <button type="button"><span class="material-icons">
            keyboard_return
        </span></button>
</div>