<div class="card">
    <div type="search" class="card-search">
        <input type="text" class="search-bar" placeholder="Search" />

        <button type="button" class="button">
            <span class="material-icons">keyboard_return</span>
        </button>
    </div>
    <div class="weather">

        <h2 class="city">{{city}} {{country}}</h2>

    </div>
</div>